body {
    background-color: rgb(229, 236, 235);
    max-width: 1200px;
    align-items: center;
    font-family: 'Open Sans';
    margin: auto auto;
    
}

#name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}
#name i{
    font-size: 20px;
}
#name p{
    font-size: 25px;
    margin-left: 10px;
    font-weight: 900;
}
h1 {
    text-align: center;
    font-weight: normal;
    font: 1.3rem italic;
}

h2 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;   
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 10px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
}

#ebout-me {
    text-align: center;
}


#experience {    
    display: flex;
}

#experience div {
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 5px;
}

#education {
    text-align: center;
    width: 50%;
    align-items: center; 
    margin: auto auto;     
}
#education div{
    border: 1px solid rgb(6, 6, 6);
    border-radius: 20px;
}

#certificate {    
    text-align: center;
}
#certificate-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#certificate-img img {
    max-width: 300px;
    margin: 10px;
    
}

#project {
    text-align: center;
}
#project label{
    font-weight: bold;
    letter-spacing: 0.5rem;
}


#skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 40px;
}

#languages ul{
    display: flex;
    justify-content: center;
}

#languages ul li{
    margin:  0 5% ;
    list-style-type: none;
}

#contact p{
    text-align: center;
}

@media screen and (max-width: 1300px) {
    body {
        margin-left: 0;
    }
    #motivational-phrase {
        margin: auto;
    }
    #experience {
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 50%;
    }
    /* #experience div {
        flex: 0 1 50%;
    } */

}

@media screen and (max-width: 930px) {
    
    /* #name i{
        display: none;
    } */
    #name p {
        font-size: 18px;
    }

    nav ul li a {
        font-size: 14px;
    }

}

@media screen and (max-width: 850px) {
    nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    #experience div {
        flex: 0 0 450px;
    }
    nav ul li {
        margin: 4px;
        
    }

}

@media screen and (max-width: 460px) {
    #experience div {
        flex: 0 0 300px;
    }
    #first {
        display: none;
    }
}
